#titulo{
display: flex;
justify-content: center;
}
span{
    font-size: xx-large;
    margin :auto,30px;
    color :blue;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(31, 29, 28, 0.142);
    padding: 20px;
}
.contenedor{
    display: block;
    /* justify-content: space-between; */
    align-items: center;
}
.tarjeta{
    border: 2px solid blue;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 3px;
}
